{% comment %}
    Renders a hidden refresh page message for accessibilty.

    Usage example:
    {%- render 'a11y-refresh-page' -%}
{% endcomment %}

<ul class="c-refresh-page" hidden>
  <li id="a11y-refresh-page_message">{{ 'accessibility.refresh_page' | t }}</li>
</ul>
