{% comment %}
    Renders a list of product's price regular or sale.

    Accepts:
    - product: {Object} Product Liquid object (optional)
    - price_class: {String} Adds a price class to the price element (optional)

    Usage:
    {%- render 'component-price', product: product -%}
{% endcomment %}

<div class="c-price"></div>
