{% comment %}
  Renders a hidden skip to content bar for accessibilty.

  Usage example:
  {%- render 'components.a11y' -%}
{% endcomment %}

<div class="c-a11y o-container o-container--md u-pv-s" tabindex="-1">
  <a role="button" class="c-a11y__link c-btn c-btn--primary" href="#MainContent">
    {{- "accessibility.skip_to_content" | t -}}
  </a>
  <button type="button" class="c-a11y__close c-btn c-btn--primary" onclick="this.blur();">{{- "accessibility.close" | t -}}</button>
</div>
