/* ==========================================================================
   ## COMPONENTS: HEADINGS & PARAGRAPHS
   ========================================================================== */

/// @content Component specific classes for headings.
/// This file contains suite of classes like.
///
///   .c-heading {}       - Base heading font.
///   .c-heading.--h1 {}  - H1 size heading.
///   .--b1 {}            - Small body font.
///   ...add others if you want.
///

.c-heading {
  font-family: $theme-font-heading-family;
  font-style: $theme-font-heading-style;
  color: $theme-color-text-heading;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-decoration: none;

  // Size variants
  &,
  &.--h1 {
    // Font size: tools.mixins.scss
    @include font-size(50px);
    @include mq('to-xs') {
      @include font-size(40px);
    }
  }

  &.--h2 {
    @include font-size(38px);
    @include mq('to-xs') {
      @include font-size(30px);
    }
  }

  // Size variants
  &.--bold {
    font-weight: 700;
  }

  &.--light {
    font-weight: 300;
  }
}

.c-body {
  font-family: $theme-font-body-family;
  font-style: $theme-font-body-style;
  color: $theme-color-text-body;
  font-weight: normal;
  text-decoration: none;

  // Size variants
  &,
  &.--b1 {
    @include font-size(24px);
  }

  &.--b2 {
    @include font-size(18px);
  }
}
