// ==========================================================================
// ## COMPONENT: SKIP TO CONTENT (A11Y)
// ==========================================================================

.c-a11y {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transform: translateY(-150%);
  transition: none;

  &:focus-within {
    transform: translateY(0%);
  }
}
