/* ==========================================================================
   #SHOPIFY SNIPPET/COMPONENT: SKIP TO CONTENT
   ========================================================================== */

.c-skip-to-content:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  padding: 1em 2em;
  position: absolute;
  width: auto;
  z-index: 9999;
}
