/* ==========================================================================
   ## COMPONENTS: SKIP TO CONTENT (A11Y)
   ========================================================================== */

.c-a11y {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  transform: translateY(-150%);
  transition: none;

  &:focus-within {
    transform: translateY(0%);
  }
}
