/* ==========================================================================
   #SHOPIFY SNIPPET/COMPONENT: SKIP TO CONTENT (A11Y)
   ========================================================================== */

.c-skip-to-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  transform: translateY(-150%);

  &:focus-within {
    position: relative;
    transform: translateY(0%);
  }
}
