/* ==========================================================================
   #SHOPIFY SNIPPET/COMPONENT: SOCIAL LINKS
   ========================================================================== */

.c-socials {
  display: flex;
  justify-content: space-between;
}

.c-socials_link {
  margin-left: 1em;
  color: $color-text-links;
}
