// ==========================================================================
// ## COMPONENT: TYPEFACES
// ==========================================================================

/// @content Component specific classes for heading.
/// This file contains suite of classes like.
///
///   .c-heading {}       - Base heading font.
///   .c-body {}          - Base body font.
///   ...add others as you wish.
///

.c-heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $theme-font-heading-family;
  font-style: $theme-font-heading-style;
  font-weight: $theme-font-heading-weight;
  color: $theme-color-text-heading;
  text-decoration: none;
}

.c-heading {
  // Size variants
  h1,
  &.--h1 {
    font-size: rem(38px);
  }

  h2,
  &.--h2 {
    font-size: rem(22px);
  }

  h3,
  &.--h3 {
    font-size: rem(17px);
  }

  &.--bold {
    font-weight: bold;
  }
}

.c-body {
  font-family: $theme-font-body-family;
  font-style: $theme-font-body-style;
  font-weight: $theme-font-body-weight;
  color: $theme-color-text-body;
  text-decoration: none;

  // Size variants
  &.--h1 {
    font-size: rem(24px);
  }

  &.--h2 {
    font-size: rem(18px);
  }

  &.--italic {
    font-style: italic;
  }
}
