// ==========================================================================
// ## COMPONENT: DARK MODE BUTTON
// ==========================================================================

dark-mode-button {
  .c-button {
    padding: 0.5rem;
    border-radius: 100%;
  }
}

.is-dark {
  body {
    background-color: rgba(var(--color-base-solid-button), 0.98);
    color: rgba(var(--color-base-background-primary), 0.98);
  }

  .c-heading,
  .c-body {
    color: rgba(var(--color-base-background-primary), 0.96);
  }

  .c-button {
    background-color: rgba(var(--color-base-background-primary), 0.96);
    color: rgba(var(--color-base-solid-button), 0.98);
  }

  .c-field {
    border-color: rgba(var(--color-base-background-primary), 0.96);
    &_input {
      color: rgba(var(--color-base-background-primary), 0.96);
    }
  }
}
