html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.4;
  min-height: 100%;
  overflow-x: hidden;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
  letter-spacing: 0.06rem;
  margin: 0;
  min-height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
