html {
  min-height: 100%;
  font-family: sans-serif;
  line-height: 1.3;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: 1.8;
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}

button {
  cursor: pointer;
  border: none;
}
