/* ==========================================================================
   #OTHER ELEMENTS
   ========================================================================== */

/**
 * Some common declarations for certain elements.
 */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  height: 18px;
  width: 18px;
}

a {
  text-decoration: none;
}
