/* ==========================================================================
   ## OTHER ELEMENTS
   ========================================================================== */

// Some common declarations for certain elements.
//
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

details > * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// Hide empty elements
a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}
