/* ==========================================================================
   #OTHER ELEMENTS
   ========================================================================== */

/**
 * Some common declarations for certain elements.
 */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-text-links;
}
