/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 *
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  box-sizing: border-box;
  font-size: 16px; /* [1] */
  line-height: 1.4; /* [1] */
  min-height: 100%; /* [2] */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/**
 * More sensible box-sizing
 */

*,
*::before,
*::after {
  box-sizing: inherit;
}
