// ==========================================================================
// ## GENERIC: ELEMENTS
// ==========================================================================

// Some common declarations for certain elements.
//
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

details > * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: gray;

  &:hover {
    text-decoration: underline;
  }
}

// Hide empty elements
a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}

p,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// 1. Single taps should be dispatched immediately on clickable elements
///
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; // [1]
  touch-action: manipulation;
}

[hreflang] > abbr[title] {
  text-decoration: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
