// ==========================================================================
// ## SHOPIFY STATIC SECTION: HEADER PASSWORD
// ==========================================================================

.header-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;

  &_logo {
    font-size: 1.4rem;
  }
}

.header-password_form {
  position: absolute;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 0;

  &-inner {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 400px;
    width: 85%;
    margin: auto;
  }
}
