/* ==========================================================================
   #SHOPIFY SECTION: HEADER
   ========================================================================== */

.s-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
