/* ==========================================================================
   #SHOPIFY SECTION: FOOTER
   ========================================================================== */

.footer_logo {
  height: auto;
  width: 100%;
}

.s-footer_menu {
  display: flex;
  justify-content: flex-end;
}
