/* ==========================================================================
   #SHOPIFY SECTION: HEADER
   ========================================================================== */

.header_logo {
  height: auto;
  width: 100%;
}

.s-header_logo-container {
  text-align: center;
}

.s-header_list,
.s-header_menu {
  display: flex;
  flex-direction: row;
}

.s-header_list {
  justify-content: flex-end;
}
