/* ==========================================================================
   #SHOPIFY SECTION: INDEX
   ========================================================================== */

///
// TOOLS:
// Sharable settings and tools.
// Must be included in order to use tools, mixins & settings.
@import 'Styles/tools';
///
.s-index {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 45em;

  .s-index__wrapper {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
}
