/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-pt-sm {}
 *   .u-pt-md {}
 *   .u-pt-l {}
 *   .u-pt-xl {}
 *
 */

.u-pt-sm {
  padding-top: 1em;
}

.u-pt-md {
  padding-top: 2em;
}

.u-pt-l {
  padding-top: 3em;
}

.u-pt-xl {
  padding-top: 4em;
}
