/* ==========================================================================
   #HIDING UTILITIES
   ========================================================================== */

/**
 * Utility classes to put hide elements.
 * This files containes a suite of classes like:
 *
 *   .u-hidden-visually {}
 *   .u-hidden {}
 *
 */

/**
 * Hide only visually, but have it available for screen readers:
 */

.u-hidden-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/**
 * Always hide an element
 */

.u-hidden {
  display: none !important;
}
