/* ==========================================================================
   # HEADINGS UTILITIES
   ========================================================================== */

/**
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy (a11y thing), e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 * Example usage:
 *
 * <h2 class="u-h1"></h2>
 *
 *
 * This file containes a suite of utility classes like:
 *
 *   .u-h1 {}
 *   .u-h2 {}
 *   .u-h3 {}
 *   .u-h5 {}
 *   .u-h6 {}
 */

.u-h1,
.u-h2,
.u-h3,
.u-h4,
.u-h5,
.u-h6 {
  font-family: serif;
}
