<!doctype html>
<html class="--loading" lang="{{- request.locale.iso_code -}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- liquid
      render 'head.seo'
      render 'head.metas'
      render 'head.settings'
      render 'head.assets'
    -%}

    {% comment %} TODO: ADD CSS ASSET {% endcomment %}
    {% comment %} {{ 'password.css' | asset_url | stylesheet_tag }} {% endcomment %}

    <!-- Header hook for plugins -->
    {{ content_for_header }}
  </head>
  <body>
    {% comment %} Accessibilty snippet {% endcomment %}
    {%- render 'components.a11y' -%}

    <main id="MainContent" class="o-password u-focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

  </body>
</html>
