// ==========================================================================
// ## LAYOUT: BASE
// ==========================================================================

/// @content
///   DO NOT ADD CLASSES OR RULES IN THIS FILE DIRECTLY.
///   Instead, use imports to add extensions or snippets you made along the project.
///
///
/// Production build weights only ~25kb (~4kb gzipped)
///

/// - SETTINGS & TOOLS (MUST BE AT THE TOP)
/// Common settings and tools.
//
@import './settings/colors';
@import './settings/fonts';
@import './settings/breakpoints';

@import './tools/functions';
@import './tools/mixins';

/// - GENERIC
/// Reset............A level playing field using @necolas’s Normalize.
/// Print................Reset-like styles for print media.
/// Elements.............Sensibly and tersely share some global commonalities.
///
@import './generic/reset';
@import './generic/print';
@import './generic/elements';

/// - COMPONENTS
// Build and include your project’s UI components.
// Uncomment and add to this as necessary.
///
/// Button..............Specific styles for btn component and its variations.
/// Typeface............Specific styles for heading component and its size variations.
/// Field...............Specific styles for field and input component.
///
@import './components/button';
@import './components/typeface';
@import './components/field';
// @import './components/price';

/// - SECTIONS
// These are base section.
///
/// Header..............Shopify static section.
/// Footer..............Shopify static section.
///
@import './sections/header';
@import './sections/footer';

/// - OBJECTS
// Be aware that enabling offsets produces a large chunk of classes which might
// bloat your CSS, depending on the amount of breakpoints you defined.
// Only set this to `true` if you are absolutely sure about what you are doing.
///
/// Container............Helper classes for aligning elements inside containers.
///
@import './objects/container';
@import './objects/grid';

/// - UTILITIES
/// Space................Nudge bits of the DOM around with these spacing classes.
/// Display..............Helper utility classes to hide/show content.
/// Align................Helper classes for aligning elements inside containers.
///
@import './utilities/space';
@import './utilities/display';
@import './utilities/align';
