{%- if section.settings.show -%}

  <div class="s-announcement u-pv-sm" data-section-id="{{ section.id }}">
    <div class="s-announcement_wrapper u-container">
      <p class="s-announcement_message u-b3" aria-label="Announcement message">{{ section.settings.message | escape }}</p>
    </div>
  </div>

  {%- style -%}
  .s-announcement {
    background-color: {{- section.settings.bg_color -}};
    color: {{- section.settings.text_color -}};
  }
  {%- endstyle -%}

{%- endif -%}

{% schema %}
{
  "name": "Announcement ",
  "tag": "aside",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "message",
      "label": "Text",
      "default": "Modern workflow on Shopify with Online Store 2.0 features."
    },
    {
      "type": "checkbox",
      "id": "show",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
