{%- if section.settings.show -%}
<div class="s-announcement-bar u-pv-sm" data-section-id="{{ section.id }}">
  <div class="s-announcement-bar_wrapper u-container">
    <p class="s-announcement-bar_message u-b3" aria-label="Announcement message">{{ section.settings.message | escape }}</p>
  </div>
</div>

{%- style -%}
.s-announcement-bar {
  background-color: {{- section.settings.bg_color -}};
  color: {{- section.settings.text_color -}};
}
{%- endstyle -%}
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "message",
      "label": "Text",
      "default": "Free shipping on orders over 100$."
    },
    {
      "type": "checkbox",
      "id": "show",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Bar",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
