<section class="{% if section.settings.include_container %}o-container -medium{% endif %}">
  {% for block in section.blocks %}
    {% render block %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "t:sections.apps.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_container",
      "default": true,
      "label": "t:sections.apps.settings.include_container.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
