<div class="{% if section.settings.include_padding %}o-container --medium{% endif %}">
  {% for block in section.blocks %}
    {% render block %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "App wrapper",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_padding",
      "default": true,
      "label": "Make section margins the same as theme"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "App wrapper"
    }
  ]
}
{% endschema %}
