<div class="custom-liquid o-container --medium">
  {{- section.settings.custom_liquid -}}
</div>

{% schema %}
{
  "name": "Custom liquid",
  "tag": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Liquid"
    }
  ],
  "presets": [
    {
      "name": "Custom liquid"
    }
  ]
}
{% endschema %}
