<div class="s-header o-container o-container--md u-pv-md" data-section-id="{{- section.id -}}">
  <div class="s-header_wrapper">
    <h1 class="s-header__title u-align-center">Hi there!</h1>
  </div>
</div>


{% schema %}
{
  "name": "Header",
  "tag": "header",
  "settings": []
}
{% endschema %}
