<header class="header-password o-container -medium">
  {%- form 'storefront_password' -%}
    <h2 class="c-heading -h1 -bold -upper">Enter using password</h2>
    <div class="c-field -primary {% if form.errors %}-error{% endif %}">
      <input class="c-field_input"
        type="password"
        name="password"
        id="Password"
        autocomplete="current-password"
        {% if form.errors %}
        aria-invalid="true"
        aria-describedby="PasswordLoginFormError"
        {%- endif -%}
        placeholder="***********"
      >
      <label class="c-field_label c-body -bold" for="Password">Password</label>

      {%- if form.errors -%}
      <div id="PasswordLoginFormError" class="header-password_error" role="status">Error</div>
      {%- endif -%}
    </div>

    <button type="submit" name="commit" class="header-password_form-button c-button -primary">
      Enter website
    </button>
    <small class="c-body -h3">Are you the store owner? <a href="/admin">Log in here</a></small>
  {%- endform -%}
</header>

{% schema %}
{
  "name": "t:sections.header_password.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
