{{ 'component-dark-mode-button.css' | asset_url | stylesheet_tag }}
<script src="{{- 'component-dark-mode-button.js' | asset_url -}}" defer></script>

<header class="header-password o-container -medium">
  <h1 class="header-password_logo c-heading -bold"><a href="{{ routes.root_url }}">Workflow.</a></h1>
  <dark-mode-button>
    <button class="c-button" type="button" aria-label="Toggle dark mode">
      {%- render 'component-icon' icon: 'moon', icon_size: 15 -%}
      {%- render 'component-icon' icon: 'sun', icon_size: 15 -%}
    </button>
  </dark-mode-button>

  {%- form 'storefront_password', class: 'header-password_form' -%}
    <div class="header-password_form-inner">
      <h2 class="c-heading -h2 -bold -upper">Enter using password</h2>
      <div class="c-field {% if form.errors %}-error{% endif %}">
        <input class="c-field_input"
          type="password"
          name="password"
          id="Password"
          autocomplete="current-password"
          {% if form.errors %}
          aria-invalid="true"
          aria-describedby="PasswordLoginFormError"
          {%- endif -%}
          placeholder="***********"
        >
        <label class="c-field_label c-body -h2 -bold" for="Password">Password</label>

        {%- if form.errors -%}
        <div id="PasswordLoginFormError" class="header-password_error" role="status">Error</div>
        {%- endif -%}
      </div>

      <button type="submit" name="commit" class="header-password_form-button c-button -primary">
        Enter website
      </button>
      <small class="c-body -h3">Are you the store owner? <a href="/admin">Log in here</a></small>
    </div>
  {%- endform -%}
</header>

{% schema %}
{
  "name": "t:sections.header_password.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
