<div class="s-index" data-section-id="{{- section.id -}}">
  <div class="o-container o-container--s u-align-center" data-component-example>
    <div class="s-index__logo u-mb-md">{%- render 'components.icon' icon: 'shopify', icon_size: 120 -%}</div>
    {% comment %} Content injected by JS {% endcomment %}
    <c-example class="s-index__wrapper" data-component-example="root"></c-example>
  </div>
</div>


<script type="text/javascript">
THEME.sections.index = {
  heading: "{{- section.settings.heading -}}",
  subheading: "{{- section.settings.subheading -}}"
}
</script>


{% schema %}
{
  "name": "Index",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Modern development on Shopify using Webpack 5 fully supporting<br>Online Store 2.0 features and github integration."
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subeading",
      "default": "Thanks for choosing this setup for your Shopify Theme."
    }
  ]
}
{% endschema %}
