<div class="s-index" data-section-id="{{- section.id -}}">
  <div class="o-container o-container--s u-align-center" data-component-example>
    <div class="s-index__logo u-mb-l">{%- render 'tools-icons' icon: 'shopify', icon_size: 150 -%}</div>
    {% comment %} Title injected by JS {% endcomment %}
    <h2 class="s-index__title u-mb-l" data-component-example="title"></h2>
    <a class="s-index__link c-btn c-btn--primary"
      href="https://github.com/younessidbakkasse/shopify-webpack-with-os2-features"
      target="_blank"> Check Github Repo
    </a>
  </div>
</div>


{% schema %}
{
  "name": "Index",
  "tag": "section",
  "settings": []
}
{% endschema %}
