<div class="o-container o-container--md" data-section-id="{{- section.id -}}"></div>


{% schema %}
{
  "name": "Search",
  "tag": "section",
  "class": "s-search",
  "settings": []
}
{% endschema %}
