{{ 'section-main-activate-account.css' | asset_url | stylesheet_tag }}

<div class="activate-account o-container -medium"></div>

{% schema %}
{
  "name": "t:sections.activate_account.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
