{{ 'section-main-account.css' | asset_url | stylesheet_tag }}

<div class="account o-container -medium"></div>

{% schema %}
{
  "name": "t:sections.account.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
