<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page o-container --medium"></div>


{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
