{{ 'section-main-cart.css' | asset_url | stylesheet_tag }}

<div class="cart o-container -medium"></div>

{% schema %}
{
  "name": "t:sections.cart.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
