<div class="template-404">
  <p class='subtext'>
    {{ 'general.404.subtitle' | t }}
  </p>
  <h1 class="title">
    {{ 'general.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="link body-large">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>

{% schema %}
{
  "name": "Main 404",
  "tag": "section"
}
{% endschema %}
