{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="page o-container -medium"></div>


{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
