{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

<div class="blog o-container -medium"></div>

{% schema %}
{
  "name": "t:sections.blog.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
