{{ 'section-main-404.css' | asset_url | stylesheet_tag }}

<div class="404 o-container -medium"></div>


{% schema %}
{
  "name": "t:sections.404.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
