{{ 'section-main-list-collection.css' | asset_url | stylesheet_tag }}

<div class="list-collection o-container -medium"></div>

{% schema %}
{
  "name": "t:sections.list_collections.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
