<div class="o-container o-container--md" data-section-id="{{- section.id -}}"></div>

{% schema %}
{
  "name": "Adresses",
  "tag": "section",
  "class": "s-adresses",
  "settings": []
}
{% endschema %}
