{{ 'section-main-register.css' | asset_url | stylesheet_tag }}

<div class="register o-container -medium"></div>


{% schema %}
{
  "name": "t:sections.register.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
