{{ 'section-main-reset-password.css' | asset_url | stylesheet_tag }}

<div class="reset-password o-container -medium"></div>


{% schema %}
{
  "name": "t:sections.reset_password.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
