<link rel="stylesheet" href="{{ 'section-main-list-collection.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-main-list-collection.css' | asset_url | stylesheet_tag }}</noscript>

<div class="list-collection o-container --medium"></div>


{% schema %}
{
  "name": "t:sections.list_collections.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
