{{ 'section-main-collection.css' | asset_url | stylesheet_tag }}

<div class="collection o-container -medium"></div>

{% schema %}
{
  "name": "t:sections.collection.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
