<link rel="stylesheet" href="{{ 'section-main-activate-account.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-main-activate-account.css' | asset_url | stylesheet_tag }}</noscript>

<div class="activate-account o-container --medium"></div>

{% schema %}
{
  "name": "t:sections.activate_account.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
