<link rel="stylesheet" href="{{ 'section-main-article.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-main-article.css' | asset_url | stylesheet_tag }}</noscript>

<div class="article o-container --medium">
  {%- render 'component-article-card' -%}
</div>

{% schema %}
{
  "name": "t:sections.article.name",
  "tag": "article",
  "settings": []
}
{% endschema %}
