{{ 'section-main-adresses.css' | asset_url | stylesheet_tag }}

<div class="adresses o-container -medium"></div>

{% schema %}
{
  "name": "t:sections.adresses.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
