<link rel="stylesheet" href="{{ 'section-main-adresses.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-main-adresses.css' | asset_url | stylesheet_tag }}</noscript>

<div class="adresses o-container --medium"></div>

{% schema %}
{
  "name": "t:sections.adresses.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
