{{ 'section-main-search.css' | asset_url | stylesheet_tag }}

<div class="search o-container -medium"></div>

{% schema %}
{
  "name": "t:sections.search.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
