<link rel="stylesheet" href="{{ 'section-main-404.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-main-404.css' | asset_url | stylesheet_tag }}</noscript>

<div class="o-container o-container--md" data-section-id="{{- section.id -}}"></div>


{% schema %}
{
  "name": "404",
  "tag": "section",
  "class": "s-404",
  "settings": []
}
{% endschema %}
