// ==========================================================================
// ## OBJECTS: CONTAINER
// ==========================================================================

/// @content Object classes for diffrentes container sizes.
///
///   .o-container {}          - Base container.
///   .o-container.-small {}   - Small container.
///   and others, add as you wish...
///

.o-container {
  width: 100%;
  margin: {
    left: auto;
    right: auto;
    top: 0;
    bottom: 0;
  }

  &.-small {
    padding-left: em(8px);
    padding-right: em(8px);
  }

  &,
  &.-medium {
    padding-left: em(16px);
    padding-right: em(16px);
  }

  &.-large {
    padding-left: em(32px);
    padding-right: em(32px);
  }

  &.-narrow {
    max-width: 30em;
  }
}
