// Colors
$color-brand-primary: var(--color-brand-primary);
$color-brand-secondary: var(--color-brand-secondary);

$color-text-heading: var(--color-text-heading);
$color-text-body: var(--color-text-body);
$color-text-links: var(--color-text-links);

$color-btn-primary: var(--color-btn-primary);
$color-btn-primary-text: var(--color-btn-primary-text);

$color-page-background: var(--color-page-background);

// Typefaces
$font-heading-family: var(--font-heading-family);
$font-heading-style: var(--font-heading-style);
$font-heading-weight: var(--font-heading-weight);
$font-heading-size: calc(var(--font-heading-size) * 1px);

$font-body-family: var(--font-body-family);
$font-body-style: var(--font-body-style);
$font-body-weight: var(--font-body-weight);
$font-body-size: calc(var(--font-body-size) * 1px);
