@charset "UTF-8";
/* ==========================================================================
   GIFT-CARD LAYOUT
   ========================================================================== */
/**
 * by @yidbakkasse
 *
 * github.com/younessidbakkasse
 */
/**
 * This is the main gift-card.scss layout file. DO NOT ADD CLASSES OR RULES IN THIS FILE DIRECTLY.
 * Instead, use imports to add extensions or snippets you made along the project.
 */
/**
 * CONTENTS
 *
 * CORE
 * Elements.............Sensibly and tersely share some global commonalities.
 * Images...............Base image styles.
 * Normalize............A level playing field using @necolas’s Normalize.
 * Page.................Set up our document’s defaults sizings.
 * Print................Reset-like styles for print media.
 *
 * SETTINGS
 * Base.................Theme-wide variables and settings.
 * Colors...............Theme color variables and settings.
 * Fonts................Theme font/typo variables and settings.
 *
 * TOOLS
 * Avalanche............Powerful, responsive grid system.
 * Container............Mixin for creating responsive containers.
 * Font.................Mixin for creating fonts.
 *
 *
 * UTILITIES
 * Headings.............Reassigning our heading styles to helper classes.
 * Spacing.............Nudge bits of the DOM around with these spacing classes.
 * Hide.................Helper classes to hide content
 *
 * SECTIONS
 * Anouncement bar......Shopify section.
 *
 * COMPONENTS/SNIPPETS
 * Skip to content......Shopify snippet for a11y.
 */
/* ==========================================================================
   #OTHER ELEMENTS
   ========================================================================== */
/**
 * Some common declarations for certain elements.
 */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* ==========================================================================
   #IMAGES
   ========================================================================== */
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */
}

/**
 * If a `width` and/or `height` attribute has been explicitly defined, let’s
 * not make the image fluid.
 */
img[width],
img[height] {
  max-width: none;
}

/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none !important;
}

/* ==========================================================================
   #PAGE
   ========================================================================== */
/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 *
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* [1] */
  line-height: 1.4;
  /* [1] */
  min-height: 100%;
  /* [2] */
  overflow-x: hidden;
}

/**
 * More sensible box-sizing
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ==========================================================================
   #PRINT
   ========================================================================== */
/**
 * Very crude, reset-like styles for the print query.
 */
@media print {
  /**
  * 1. Black prints faster: http://www.sanbeiji.com/archives/953
  */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* [1] */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  /**
  * Don’t show links that are fragment identifiers, or use the `javascript:`
  * pseudo protocol.
  */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /**
  * Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables
  */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   #BASE CONFIG
   ========================================================================== */
/**
 * Baseline grid lines height. Every spacing metric should be based on this.
 *
 */
/* ==========================================================================
   #COLOR CONFIG
   ========================================================================== */
/**
 *
 * This file sets up the theme palette/color variables. Bisacly
 * we take the custom properties defined in the "snippets/style-liquid-tags.liquid"
 * file and turn theme into SASS variables in order to get autocomplition and more
 * variables from the already difined css ones.
 *
 */
/**
 * Primary colors and accent color, These two variables can be changed in the theme
 * global settings editor.
 */
/**
 * Text colors global settings.
 */
/**
 * Button and button text colors
 * Secondary button style should be added here if needed.
 */
/**
 * Global background color controled in the theme global settings.
 */
/* ==========================================================================
   #FONT CONFIG
   ========================================================================== */
/**
 * Basic Theme font variables extracted from css custom properties
 * defined in the "snippets/style-liquid-tags.liquid" file.
 *
 */
/* Avalanche | MIT License | @colourgarden */
/* ==========================================================================
   # SETTINGS
   ========================================================================== */
/* ==========================================================================
   # THE MAGIC
   ========================================================================== */
/* ==========================================================================
   # GRID LAYOUT
   ========================================================================== */
.u-grid {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  font-size: 0;
}

.u-grid__cell {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem;
}

/* ==========================================================================
  # GRID WIDTHS
  ========================================================================== */
[class~='1/2'],
[class~='2/4'] {
  width: 50%;
}

[class~='1/3'] {
  width: 33.3333333333%;
}

[class~='2/3'] {
  width: 66.6666666667%;
}

[class~='1/4'] {
  width: 25%;
}

[class~='3/4'] {
  width: 75%;
}

@media screen and (max-width: 499px) {
  [class~='1/2:thumb'],
  [class~='2/4:thumb'] {
    width: 50%;
  }

  [class~='1/3:thumb'] {
    width: 33.3333333333%;
  }

  [class~='2/3:thumb'] {
    width: 66.6666666667%;
  }

  [class~='1/4:thumb'] {
    width: 25%;
  }

  [class~='3/4:thumb'] {
    width: 75%;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  [class~='1/2:handheld'],
  [class~='2/4:handheld'] {
    width: 50%;
  }

  [class~='1/3:handheld'] {
    width: 33.3333333333%;
  }

  [class~='2/3:handheld'] {
    width: 66.6666666667%;
  }

  [class~='1/4:handheld'] {
    width: 25%;
  }

  [class~='3/4:handheld'] {
    width: 75%;
  }
}
@media screen and (min-width: 500px) {
  [class~='1/2:handheld-and-up'],
  [class~='2/4:handheld-and-up'] {
    width: 50%;
  }

  [class~='1/3:handheld-and-up'] {
    width: 33.3333333333%;
  }

  [class~='2/3:handheld-and-up'] {
    width: 66.6666666667%;
  }

  [class~='1/4:handheld-and-up'] {
    width: 25%;
  }

  [class~='3/4:handheld-and-up'] {
    width: 75%;
  }
}
@media screen and (max-width: 800px) {
  [class~='1/2:pocket'],
  [class~='2/4:pocket'] {
    width: 50%;
  }

  [class~='1/3:pocket'] {
    width: 33.3333333333%;
  }

  [class~='2/3:pocket'] {
    width: 66.6666666667%;
  }

  [class~='1/4:pocket'] {
    width: 25%;
  }

  [class~='3/4:pocket'] {
    width: 75%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  [class~='1/2:lap'],
  [class~='2/4:lap'] {
    width: 50%;
  }

  [class~='1/3:lap'] {
    width: 33.3333333333%;
  }

  [class~='2/3:lap'] {
    width: 66.6666666667%;
  }

  [class~='1/4:lap'] {
    width: 25%;
  }

  [class~='3/4:lap'] {
    width: 75%;
  }
}
@media screen and (min-width: 801px) {
  [class~='1/2:lap-and-up'],
  [class~='2/4:lap-and-up'] {
    width: 50%;
  }

  [class~='1/3:lap-and-up'] {
    width: 33.3333333333%;
  }

  [class~='2/3:lap-and-up'] {
    width: 66.6666666667%;
  }

  [class~='1/4:lap-and-up'] {
    width: 25%;
  }

  [class~='3/4:lap-and-up'] {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  [class~='1/2:portable'],
  [class~='2/4:portable'] {
    width: 50%;
  }

  [class~='1/3:portable'] {
    width: 33.3333333333%;
  }

  [class~='2/3:portable'] {
    width: 66.6666666667%;
  }

  [class~='1/4:portable'] {
    width: 25%;
  }

  [class~='3/4:portable'] {
    width: 75%;
  }
}
@media screen and (min-width: 1025px) {
  [class~='1/2:desk'],
  [class~='2/4:desk'] {
    width: 50%;
  }

  [class~='1/3:desk'] {
    width: 33.3333333333%;
  }

  [class~='2/3:desk'] {
    width: 66.6666666667%;
  }

  [class~='1/4:desk'] {
    width: 25%;
  }

  [class~='3/4:desk'] {
    width: 75%;
  }
}
@media screen and (min-width: 1160px) {
  [class~='1/2:widescreen'],
  [class~='2/4:widescreen'] {
    width: 50%;
  }

  [class~='1/3:widescreen'] {
    width: 33.3333333333%;
  }

  [class~='2/3:widescreen'] {
    width: 66.6666666667%;
  }

  [class~='1/4:widescreen'] {
    width: 25%;
  }

  [class~='3/4:widescreen'] {
    width: 75%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  [class~='1/2:retina'],
  [class~='2/4:retina'] {
    width: 50%;
  }

  [class~='1/3:retina'] {
    width: 33.3333333333%;
  }

  [class~='2/3:retina'] {
    width: 66.6666666667%;
  }

  [class~='1/4:retina'] {
    width: 25%;
  }

  [class~='3/4:retina'] {
    width: 75%;
  }
}
/* ==========================================================================
   #CONTAINER
   ========================================================================== */
/**
 * Generates a rem container. Basic usage is simply:
 *
 *   @include container(2rem);
 *
 */
/* ==========================================================================
   #FONTS
   ========================================================================== */
/**
 * Utility classes for font
 *
 *   .u-font-primary {}
 *   .u-font-secondary {}
 *
 */
/* ==========================================================================
   # HEADINGS
   ========================================================================== */
/**
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy (a11y thing), e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 * Example usage:
 *
 * <h2 class="u-h1"></h2>
 *
 *
 * This file containes a suite of utility classes like:
 *
 *   .u-h1 {}
 *   .u-h2 {}
 *   .u-h3 {}
 *   .u-h5 {}
 *   .u-h6 {}
 */
.u-h1,
.u-h2,
.u-h3,
.u-h4,
.u-h5,
.u-h6 {
  font-family: serif;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-pt-sm {}
 *   .u-pt-md {}
 *   .u-pt-l {}
 *   .u-pt-xl {}
 *
 */
.u-pt-sm {
  padding-top: 1em;
}

.u-pt-md {
  padding-top: 2em;
}

.u-pt-l {
  padding-top: 3em;
}

.u-pt-xl {
  padding-top: 4em;
}

/* ==========================================================================
   #COLOR CONFIG
   ========================================================================== */
/**
 * Utility classes to put hide elements.
 * This files containes a suite of classes like:
 *
 *   .u-hidden-visually {}
 *   .u-hidden {}
 *
 */
/**
 * Hide only visually, but have it available for screen readers:
 */
.u-hidden-visually {
  position: absolute !important;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  word-wrap: normal !important;
}

/**
 * Always hide an element
 */
.u-hidden {
  display: none !important;
}

/* ==========================================================================
   #SHOPIFY SNIPPET/COMPONENT: SKIP TO CONTENT
   ========================================================================== */
.c-skip-to-content:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  padding: 1em 2em;
  position: absolute;
  width: auto;
  z-index: 9999;
}
