// ==========================================================================
// ## SETTINGS: BREAKPOINTS
// ==========================================================================

/// @content This core file sets up reponsive breakpoints.
/// These are the same breakpoints that are used in reponsive
///
/// @throw
///   Global variable name must always start with '$theme-' prefix/namespace.
///
/// @type Map
/// @access public
///
/// Add as you wish.

$breakpoint-xs: 425px !default;
$breakpoint-sm: 750px !default;
$breakpoint-md: 1025px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-xlg: 1440px !default;

$breakpoint-xxs-max: ($breakpoint-xs - 1);
$breakpoint-xs-max: ($breakpoint-sm - 1);
$breakpoint-sm-max: ($breakpoint-md - 1);
$breakpoint-md-max: ($breakpoint-lg - 1);
$breakpoint-lg-max: ($breakpoint-xlg - 1);

$breakpoints: (
  xxs: 0px,
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xlg: $breakpoint-xlg,
) !default;
