// ==========================================================================
// ## SETTINGS: COLORS
// ==========================================================================

/// @content This file sets up the theme color variables.
///
/// This file is mounted to the global settings liquid file.

// All these colors can be changed in the theme customizer/editor,
// Ude the base colors to create more color schemas.
/// @type String
/// @access public

// Global brand colors
$color-base-primary: rgba(var(--color-base-accent-primary), 1) !default;
$color-base-secondary: rgba(var(--color-base-accent-secondary), 1) !default;

// Text
$color-base-text: rgba(var(--color-base-text), 1) !default;

// Buttons
// Secondary button style can be added if needed.
$color-base-solid-button: rgba(var(--color-base-solid-button), 1) !default;
$color-base-outline-button: rgba(var(--color-base-outline-button), 1) !default;

// Background
$color-base-background-primary: rgba(
  var(--color-base-background-primary),
  1
) !default;
$color-base-background-secondary: rgba(
  var(--color-base-background-secondary),
  1
) !default;
