// ==========================================================================
// ## SETTINGS: FONTS
// ==========================================================================

/// @content Basic Theme font variables extracted from css custom properties
/// defined in the "snippets/head-settings.liquid" file.
///
/// This file sets up the theme font variables.
/// Basically, take the custom properties defined in the "snippets/head-settings.liquid"
/// file and turned them to SCSS $variables.
///

// All these font properties can be changed in the theme customizer/editor.
/// @type String
/// @access public
///

// Heading text ************************
$font-heading-family: var(--font-heading-family) !default;
$font-heading-style: var(--font-heading-style) !default;
$font-heading-weight: var(--font-heading-weight) !default;

// Body text ************************
$font-body-family: var(--font-body-family) !default;
$font-body-style: var(--font-body-style) !default;
$font-body-weight: var(--font-body-weight) !default;

// Base size & line-height ************************
$font-base-size: 16px !default;
