/* ==========================================================================
   #FONT CONFIG
   ========================================================================== */

/**
 * Basic Theme font variables extracted from css custom properties
 * defined in the "snippets/style-liquid-tags.liquid" file.
 *
 */

$font-heading-family: var(--font-heading-family);
$font-heading-style: var(--font-heading-style);
$font-heading-weight: var(--font-heading-weight);
$font-heading-size: calc(var(--font-heading-size) * 1px);

$font-body-family: var(--font-body-family);
$font-body-style: var(--font-body-style);
$font-body-weight: var(--font-body-weight);
$font-body-size: calc(var(--font-body-size) * 1px);
