/* ==========================================================================
   ## BASE THEME FONT SETTINGS
   ========================================================================== */

/// @content Basic Theme font variables extracted from css custom properties
/// defined in the "snippets/style-liquid-tags.liquid" file.
///
/// This file sets up the theme font variables.
/// Basically, take the custom properties defined in the "snippets/style-liquid-tags.liquid"
/// file and turned them to SCSS $variables.
///
/// @throw
///   Global variable name must always start with '$theme-' prefix/namespace.
///
/// @throw
///   This file is mounted to the global settings liquid file
///   in 'snippets/head-style-tags.liquid', any modification need
///   to also be applied to the other file and vice versa.

// All these font properties can be changed in the theme customizer/editor.
/// @type String
/// @access public
///

// Heading text ************************
$theme-font-heading-family: var(--theme-font-heading-family) !default;
$theme-font-heading-style: var(--theme-font-heading-style) !default;
$theme-font-heading-weight: var(--theme-font-heading-weight) !default;

// Body text ************************
$theme-font-body-family: var(--theme-font-body-family) !default;
$theme-font-body-style: var(--theme-font-body-style) !default;
$theme-font-body-weight: var(--theme-font-body-weight) !default;

// Base size & line-height ************************
$theme-font-base-size: 16px !default;

// The base line height, line-height depends on font-size check _tools.font.scss file!
$theme-font-base-line-height: $theme-base-unit !default; // 6px
