/* ==========================================================================
   #COLOR CONFIG
   ========================================================================== */

/**
 *
 * This file sets up the theme palette/color variables. Bisacly
 * we take the custom properties defined in the "snippets/style-liquid-tags.liquid"
 * file and turn theme into SASS variables in order to get autocomplition and more
 * variables from the already difined css ones.
 *
 */

/**
 * Primary colors and accent color, These two variables can be changed in the theme
 * global settings editor.
 */

$color-brand-primary: var(--color-brand-primary);
$color-brand-secondary: var(--color-brand-secondary);

/**
 * Text colors global settings.
 */

$color-text-heading: var(--color-text-heading);
$color-text-body: var(--color-text-body);
$color-text-links: var(--color-text-links);

/**
 * Button and button text colors
 * Secondary button style should be added here if needed.
 */

$color-btn-primary: var(--color-btn-primary);
$color-btn-primary-text: var(--color-btn-primary-text);

/**
 * Global background color controled in the theme global settings.
 */

$color-page-background: var(--color-page-background);
