/* ==========================================================================
   ## BASE THEME SETTINGS
   ========================================================================== */

/// @content This core file sets up most important setup variables. They underpin
/// a lot of how the framework functions and should be modified and
/// preconfigured with caution.
///
///
/// @throw
///   Global variable name must always start with '$theme-' prefix/namespace.
///

/// Base factors and ** THE BASE THEME UNIT ** CAUTION!
/// Every spacing metric should be based on this!!
/// @type Number | Unit
/// @access public
///
$theme-base-unit: 6px !default;

// How many grid lines should our spacing unit variants span?
// Each value should be an unitless integer.
/// @type Number
/// @access public
///
$theme-base-factor-xs: 1 !default;
$theme-base-factor-s: 2 !default;
$theme-base-factor-md: 4 !default;
$theme-base-factor-l: 8 !default;
$theme-base-factor-xl: 16 !default;

// Base spacing settings ****************

// Spacing values are determined based on your project’s global baseline grid.
// It is not recommended that you modify these following variables
// (it can break your vertical rhythm), but if you need to, you can.
/// @type Number | Unit
/// @access public
///
$theme-spacing-xs: $theme-base-unit * $theme-base-factor-xs; // 6px
$theme-spacing-s: $theme-base-unit * $theme-base-factor-s; // 12px
$theme-spacing-md: $theme-base-unit * $theme-base-factor-md; // 24px
$theme-spacing-l: $theme-base-unit * $theme-base-factor-l; // 48px
$theme-spacing-xl: $theme-base-unit * $theme-base-factor-xl; // 96px

// Context ******************
// The current stylesheet context.
// Available values: production, development.
/// @type String
/// @access public
///
$theme-context: development !default;

// Mobile First ******************
// This switch controls media queries generation.
// Available values: mobile, desktop, both.
/// @type Boolean
/// @access public
///
/// @todo Implimentation.
///
$theme-reponsive-first-on: both !default;
