/* ==========================================================================
   #CONTAINER
   ========================================================================== */

/**
 * Generates a rem container. Basic usage is simply:
 *
 *   @include container(2rem);
 *
 */

@mixin container($padding-x) {
  margin: 0 auto;
  padding: 0 $padding-x;
  width: 100%;
}
