/* ==========================================================================
   #CONTAINER
   ========================================================================== */

/**
 * Generates a rem container. Basic usage is simply:
 *
 *   @include container(2rem);
 *
 */

@mixin container($padding-x) {
  margin: 0 auto;
  padding-left: $padding-x;
  padding-right: $padding-x;
  width: 100%;
}

.u-container {
  @include container(2em);
}
