{%- layout 'giftcard' -%}

<div id="qrCode" title="{{- gift_card.qr_identifier -}}"></div>
<script type="text/javascript">
  var qrCode = new QRCode(document.getElementById("qrCode"), {
    text:   "{{- gift_card.qr_identifier -}}",
    width:  120,
    height: 120
  });
</script>
