// ==========================================================================
// ## SHOPIFY DYNAMIC SECTION: WELCOME
// ==========================================================================

/// - SETTINGS & TOOLS
/// Common settings and tools.
//
@import 'base/styles/settings/settings';

.s-welcome {
  display: grid;
  justify-content: center;
  align-items: center;

  .s-welcome__wrapper {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }

  .s-welcome__feature-wrapper {
    max-width: 1300px;
  }
}
