// ==========================================================================
// ## SHOPIFY STATIC BASE SECTION: HEADER
// ==========================================================================

.s-header {
  display: flex;
  justify-content: space-between;
  background-color: $theme-color-background;
}
